/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
    font:14px georgia;
    color: #222;
    text-align:center;
    border:25px;
    padding:25px;
    padding-top:0px;}

h1 {
	font:28px georgia;
	color: #222;
	text-align:center;} 

form, p, span {
    margin:0;
    padding:0;}
  
input { font:14px georgia;}
  
a { color:#0000AF;
    text-decoration:none;}

#header {
    height:50px;
    text-align:center;
    background-color:white;
}

#chat_room {
    margin:0 auto;
    text-align:center;
    background:rgb(255, 255, 166);
    border-radius:7px;
    height:450px;
    width:800px;
    overflow:auto;
    box-shadow: 0 0 10px #888888;}

#greypart {
	background:#C0C0C0;
	height:100px;
	width:75px;
	border-radius:15px;
	box-shadow: 0 0 20px rgb(255, 255, 255);}

#greysplit {
	background:#C0C0C0;
	height:100px;
	width:59px;
	border-radius:15px;
	box-shadow: 0 0 20px rgb(255, 255, 255);
}